/*
$blum-orange: #FF671F;
*/

/*general */
.sapMShellBrandingBar {
    background-color:  #FF671F !important;
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.sapUiBodyBackground, .sapUiBody {
    background-repeat: repeat, no-repeat;
    background-color:  #FF671F !important;
    background-image: none !important;
    background-repeat: repeat, no-repeat;
}

.sapMPanelBGTranslucent {
    background-color: transparent !important;
}

.sap-desktop .sapMShellCentralBox {
    box-shadow: none !important;
    margin:0 !important;
    left:0 !important;
    width:100% !important;
}

.sapUshellShellBackground, .sapUiGlobalBackgroundColor, .sapMGlobalBackgroundColor, .sapMShellGlobalOuterBackground {
    background-color: whitesmoke !important;
    background-image: none !important;
}
.sapUiUfdShell .sapUiUfdShellBrand {
    position: absolute;
    top: 0px;
    height: 4px;
    left: 0px;
    right: 0px;
    border: medium none;
    margin: 0px;
    z-index: 7;
    background-color:  #FF671F !important;
}

/*.sapUiUfdShellBrand {*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*height: 4px;*/
    /*left: 0px;*/
    /*right: 0px;*/
    /*border: medium none;*/
    /*margin: 0px;*/
    /*z-index: 7;*/
    /*background-color:  #FF671F !important;*/
/*}*/

#__xmlview2--myShell-brand.sapUiUfdShellBrand,
.sapUiUfdShellHeader,
#myShell,
.sapMBtnBase,
.sapMBtnDefault{
    background-color:  #FF671F !important;
}

.sapUiUfdShellHeadItm>span, .sapUiUfdShellHeadUsrItm {
    -webkit-font-smoothing: antialiased;
    text-shadow: none !important;
    color: white !important;
    border-color: white !important;
}

/*menu*/
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel:hover>span,
.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel:active:hover>span,
.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel>span{
    background-color: grey !important;
}

.iconSize1{
    font-size: 2rem;
}
.sapMTitle {
    text-shadow: none !important;
}
.sapUiUfdShellHeadBegin .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:after,
.sapUiUfdShellHeadUsrItm:before, .sapUiUfdShellHeadEnd .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:before{
   border: none !important;
}


/* side menu overlay */
.shellOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 300;
}

/*menu bar*/
.sapMITBHead {
    font-size: medium !important;
    background-color:  #FF671F !important;
    padding-right: auto !important;
    padding-left: auto !important;
    margin: 0 !important;
    width:100% !important;
}

.sapMITBItem{
    width: 47% !important;
}


.sapMITBScrollContainer {
    margin: 0 !important;
}

.sapMITH .sapMITBNotScrollable{
    margin:0 !important;
    padding:0 !important;
}

.sapMITBTextOnly .sapMITBText {
    font-size: medium !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    text-align: center !important;
    padding: 10px;
    width: auto !important;
}

.sapMITBTextOnly .sapMITBFilter:first-child {
    margin-left: 20px;
}

.sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected>.sapMITBText, .sapMITBFilterDefault {
    color: white !important;
}

.sapMITBTextOnly .sapMITBFilterDefault>.sapMITBText {
    color: #ffc7ad !important;
    text-shadow: none !important;
}
.sapMITBSelected>.sapMITBContentArrow {
    border-bottom-color: white !important;
}

.sapMITBContent {
    position:relative !important;
    scrollbar: none !important;
}

.myAppDemoWT {
    background-color: whitesmoke;
}

.sapMTitle {
    text-shadow: 0px 0.0625rem 0px rgba(255, 255, 255, 0.5);
    margin-left: auto !important;
    margin-right: auto !important;
}
.sapMTitleStyleAuto {
    font-size: 1.5rem !important;
}
.sapMTitle {
    font-weight: normal;
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    white-space: nowrap;
    cursor: text;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/*login*/

.loginPane, .myInput, .sapMInputBaseInner{
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

/*Button*/
.sapMBtn{
    background-color:  #FF671F !important;
    border: none !important;
    color: white !important;
    text-align: center;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: large;
    border-radius: 4px;
    border: none !important;
    outline: none !important;
    height: 4rem !important;
    width: 7.5rem ;
}

.sapMBtnInner {
    background-color:  #FF671F !important;
    background-image: none !important;
    color: white !important;
    text-align: center;
    text-decoration: none;
    font-size: 1rem !important;
    border-radius: 8px;
    border: none !important;
    text-shadow: none !important;
}

.sapMBtn:hover, .sapMBtnInner:hover {
    border: none !important;
    outline: none !important;
}

.sapMBtn:active , .sapMBtnInner:active{

    transform: translateY(2px) !important;
    border: none !important;
    outline: none !important;
}

.logButton .sapUiIcon:before{
    color: white !important;
}

.logButton{
    width: 100% !important;
    height: 2rem !important;
}

.sapUiSmallMarginEnd {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.myHBox{
    margin-left: auto !important;
    margin-right: auto !important;
}

.sapMITBFilterDefault {
    color:  #FF671F !important;
}

/* calendar*/
.sapMInputBaseInner {
    font-size: large !important;
    padding-left: 0 !important;

}

/*outbox*/
.sapMList .sapMLIB.sapMGHLI {
    height: 2rem;
    line-height: 2rem;
    font-size: large !important;
    font-weight: normal;
    color: #FF671F !important;
  /*  background: #f7f7f7;*/
    background-color: transparent !important;
    border-bottom: none !important;
    margin-top: 1rem !important;
}

.sapMITB,
.sapMITBContainerContent,
.sapMITBContainerContent .sapMITBContent,
.sapMITBContainerContent .sapMITBContent .sapUiView.sapUiViewDisplayBlock.sapUiXMLView{
    height: 100%;
}

.sapMText.sapMObjLTitle {
    color: black !important;
    font-size: 1rem !important;
    font-weight: normal;
    line-height: 1.0rem !important;
}
.sapMLIB.sapMObjLItem {
    padding-bottom: 0.6rem !important;
    padding-top: 0.6rem !important;
    padding-left: 0.5rem !important;
    padding-right: 1rem !important;
    margin-left: 2rem !important;
    margin-right: 2rem !important
}

.sapMObjLNumber {
    font-size: 1rem !important;
}

/*dialog*/
.sap-desktop .sapMIBar.sapMFooter-CTX {
    background-color: whitesmoke !important;
}

.sapMIBar-CTX.sapMFooter-CTX {
    text-shadow: none !important;
    background-color: whitesmoke !important;
}

.sapMDialog{
    height: 5rem;
}

.sapMDialog>footer {
    height: 1.5rem !important;
    position: relative !important;
}



/*timepicker*/

.sapMInputBaseInner:not(.sapMInputBaseReadonlyInner):not(.sapMInputBaseStateInner):not(.sapMInputBaseDisabledInner):hover {
    border-color: grey !important;
}

.sapMTimePicker.sapMTPInputActive .sapUiIcon,
.sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn .sapMTimePickerSlider .sapMTimePickerItem:active{
    background-color: grey !important;
}
.sapMTimePicker.sapMTPInputActive .sapMInputBase,
.sapMTimePicker.sapMTPInputActive .sapMInputBaseInner{
    border: 1px solid grey !important;
}

.sapMTimePicker.sapMTPInputActive .sapMInputBase:active,
.sapMTimePicker.sapMTPInputActive .sapMInputBaseInner:active{
    border: 1px solid grey !important;
    background-color: grey !important;
}

.sapMTimePicker.sapMTPInputActive .sapMInputBaseInner:hover {
    border: 1px solid grey !important;
    color: white !important;
}

.sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn .sapMTimePickerSlider .sapMTimePickerItem:hover {
    background-color: grey !important;
    color: white !important;
}

.sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn .sapMTimePickerSlider .sapMTimePickerItem {
    background-color: lightgrey !important;
}

/*calendar*/
.sapUiCalHead>.sapUiCalHeadB, .sapUiCalCancel, .sap-desktop .sapUiCalHead>.sapUiCalHeadB:hover, .sap-desktop .sapUiCalHead>.sapUiCalHeadB:focus {
    color: darkgrey !important;
}

/*Pages - Menubar*/
.sapMPage {
    position: absolute;
}

/*.sapMPage>section {*/
    /*position: relative !important;*/
    /*/!*height: 25rem;*!/*/
/*}*/
.sapMTB {
    padding: 0;
    /*height: 3rem;*/
    background: #FF671F !important;
    border-bottom: none !important;
    margin: 0 !important;
}

.menuButton{
    width: 2rem;
    height: 2rem;
    border: medium  !important;
    border-color: white !important;
}

.menuButton .sapMBtnIcon {
    color: white !important;
    border: medium  !important;
    border-color: white !important;
}




